<div
	appDropZone
	class="image-upload-container"
	[ngClass]="{'file-over': isFileOver}"
	(isFileOver)="setIsFileOver($event)"
	(fileListDropped)="fileListDropped($event)"
	(click)="signatureInput.click()"
>
	<input
		#signatureInput
		(change)="handleFileInput($event)"
		type="file"
		name="file"
		id="file"
		class="file-input"
		accept="image/*"
		hidden
	>
	<div class="message-box">
		<ng-container [ngSwitch]="state">
			<div *ngSwitchCase="'initial'">
				Drop image here or click to upload image.
			</div>
			<div *ngSwitchCase="'file_over'">
				Drop image here.
			</div>
			<div *ngSwitchCase="'invalid_type'">
				Invalid file type. Only image files are allowed.
			</div>
			<div *ngSwitchCase="'uploading'">
        Uploading
			</div>
			<div *ngSwitchCase="'duplicate'">
				Error. Image is duplicate.
			</div>
			<div *ngSwitchCase="'error'">
				Unexpected error ocurred.
			</div>
			<div *ngSwitchCase="'success'">
				Image successfully uploaded.
			</div>
		</ng-container>
	</div>
</div>
