.gallery-container {
  text-align: center;
  padding: 10px;
  .image-upload-wrapper {
    max-width: 800px;
    margin: 10px auto;
  }
  .new-images-button {
    margin-bottom: 16px;
  }
  .thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 10px;
    justify-content: center;
  }
  .paginator-container {
    .mat-paginator {
      display: flex;
      justify-content: center;
    }
  }
}
