.thumbnail-container {
  .thumbnail-image {
    transition: all ease-in-out 200ms;
    width: 300px;
    height: 200px;
  }
  .thumbnail-image:hover {
    transition: all ease-in-out 200ms;
    opacity: .8;
    width: 300px;
    height: 200px;
  }
  .thumbnail-info {
    text-align: center;
  }
}
.thumbnail-container:hover {
  cursor: pointer;
}
